#meals th {
	width: 40%
}

#meals th:first-child {
	width: 20%
}

.weekdayh:not(.weekend) {
	cursor: pointer;
}

#meals tr td {
	height: 150px;
	min-height: 150px;
}

#meals tr td select {
	width: 100%;
}

[data-cell]{
	vertical-align: top;
	text-align: left;
}

.course, .ingredient {
	margin-top: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: grey;
	font-size: 15px;
	padding: 5px;
	border-radius: 10px;
}

.ingredient {
	padding: 10px 0;
}

.holiday {
	color: red;
}

.reveal-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1005;
	display: none;
	background-color: rgba(10, 10, 10, 0.45);
	overflow-y: auto;
}

.graella {
	float: left;
}

.bloc-12 {
	width: 100%;
}

.bloc-6 {
	width: 50%;
}

.bloc-4 {
	width: 33%;
}

.reveal {
	z-index: 1006;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: none;
	padding: 1rem;
	border: 1px solid #cacaca;
	border-radius: 0;
	background-color: #fefefe;
	position: relative;
	top: 100px;
	margin-right: auto;
	margin-left: auto;
	overflow-y: auto;
	width: 600px;
	max-width: 75rem;
}

#meals .button, #reload-week-meals .button, .remove-course, .delete-ingredient {
	width: 23px;
	height: 23px;
	display: inline-block;
	cursor: pointer;
	background-color: transparent;
}

.remove-courses, .remove-course, .delete-ingredient {
	background-image: url(../img/source_icons_remove-empty.svg);
	background-repeat: no-repeat;
}

.remove-course, .delete-ingredient{
	margin: 0 5px 0 0;
}	

.change-courses, #reload-week-meals .button {
	background-image: url(../img/source_icons_refresh-circular.svg);
	background-repeat: no-repeat;
}

.create-courses {
	background-image: url(../img/source_icons_add-circled-outline.svg);
	background-repeat: no-repeat;
}

.select-course {
	background-image: url(../img/source_icons_reminder-hand-gesture.svg);
	background-repeat: no-repeat;
}